{% extends "main.html" %}
{% block content %}
<h1>CPSC113 Todo</h1>

<div style="color:red" class="validation-error">
    {% if errors %}
        {{ errors }}
    {% endif %}
</div>

{% if currentUser %}
    <h2>Welcome, {{ currentUser.name }}</h2>

    <section>
		<h2 id="toggle-create">Create a new todo</h2>
	    <form action="/task/create" method="POST">
	    	{% csrf_token %}
    	    <div>
    	        <input type="text" name="title" placeholder="Task Title">
    	    </div>
			<div>
			    <input type="text" name="description" placeholder="Description">
    		</div>	
    			<input type="text" name="collaborator1" placeholder="Collaborater 1">
    		<div>
    			<input type="text" name="collaborator2" placeholder="Collaborater 2">
    		</div>		
    			<input type="text" name="collaborator3" placeholder="Collaborater 3"><br>
    		<div>
    			<button type="submit">Submit</button>
    		</div>		
		</form>
	</section>
    <div><br><hr><br></div>
    <section class="tasks">
        <fieldset class="tasks-list">
            <h3>Todo List</h3>
            {% if tasks %}
                {% for task in tasks %}
                    <div class="tasks-list-item{% if task.isComplete %} complete-task {% else %} {% endif %}">
                        <span class="tasks-list-desc task-title">{% if task.isComplete %}<strike>{{ task.title }}</strike>{% else %}{{ task.title }}{% endif %}</span>
                        <form action="/task/toggle-complete" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="taskId" value="{{ task.id }}">
                            {% if task.isComplete %}
                                <input type="hidden" name="changeStatus" value="0">
                                <button type="submit" class="toggle-task button">Mark Incomplete</button>
                            {% else %}
                                <input type="hidden" name="changeStatus" value="1">
                                <button type="submit" class="toggle-task button">Mark Complete</button>
                            {% endif %}
                        </form>
                        {% if task.owner == currentUser.id %}
                            <form action="/task/delete" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="deleteId" value="{{ task.id }}">
                                <input type="hidden" name="ownerId" value="{{ task.owner }}">
                                <button type="submit" class="delete-task button">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                No tasks to show!
            {% endif %}
        </fieldset>
    </section>
    
{% else %}
<div>
    <h3>Login</h3>
    <form class="login" action="/user/login" method="POST">
        {% csrf_token %}
        <input name="email" type="text" placeholder="Email"><br>
        <input name="password" type="text" placeholder="Password"><br>
        <button type="submit" class="log-in-submit">Login</button>
    </form>
</div>

<div><br><hr><br></div>

<div>
    <h3>SignUp</h3>
    <form id="register" class="register" action="/user/register" method="POST">
        {% csrf_token %}
        <input name="fl_name" type="text" placeholder="first &amp; last name"><br>
        <input name="email" type="email" placeholder="email"><br>
        <input name="password" type="password" placeholder="password"><br>
        <input name="password_confirmation" type="password" placeholder="password confirmation"><br>
        <button class="sign-up-submit" type="submit">Sign-Up</button>
    </form>
</div>

{% endif %}
{% endblock %}